/.venv
.env.local
.env.dev
.env.production
/notes/__pycache__
/project/__pycache__
/notes/migrations/__pycache__
/staticfiles/admin/css
/staticfiles/admin/img
/staticfiles/admin/js
/staticfiles/notes
notes/management/__pycache__/__init__.cpython-310.pyc
notes/management/__pycache__/__init__.cpython-310.pyc
db.sqlite3
/db.sqlite3
notes/tests/__pycache__/test_page_reorder.cpython-310.pyc
db.sqlite3
db.sqlite3
db.sqlite3
db.sqlite3
media/incoming_mail/2026/07/generali-2.eml
/media
/staticfiles
notes/management/__pycache__/__init__.cpython-314.pyc
notes/tests/__pycache__/test_local_files.cpython-314.pyc
notes/management/__pycache__/__init__.cpython-314.pyc
backups/NotesPro-backup-20260814-170811.tar.gz
backups/NotesPro-backup-20260814-164911.tar.gz
backups/DjangoNotesPro-backup-20260814-164911.tar.gz
backups/DjangoNotesPro-backup-20260814-170811.tar.gz
/dashboard/__pycache__
/dashboard/migrations/__pycache__
/notes/management/commands/__pycache__
/notes/tests/__pycache__/*.pyc
/.env
